<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xieyunhai.mapper.AddressMapper">
    <resultMap id="addressResult" type="com.xieyunhai.entity.Address">
        <id column="id"/>
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="name" column="name"/>
        <result property="receiveName" column="receive_name"/>
        <result property="alias" column="alias"/>
        <result property="postCode" column="post_code"/>
        <result property="telephone" column="telephone"/>
        <result property="cellphone" column="cellphone"/>
        <result property="province" column="province"/>
        <result property="district" column="district"/>
        <result property="city" column="city"/>
        <result property="street" column="street"/>
        <result property="remarks" column="remarks"/>
        <result property="success" column="success"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>
</mapper>

<!--<id column="id" jdbcType="int" javaType="int"/>-->
<!--<result column="user_id" jdbcType="int" javaType="int"/>-->
<!--<result column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="receive_name" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="alias" jdbcType="TINYINT" javaType="java.lang.Short"/>-->
<!--<result column="post_code" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="telephone" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="cellphone" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="province" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="district" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="city" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="street" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="remarks" jdbcType="VARCHAR" javaType="java.lang.String"/>-->
<!--<result column="alias" jdbcType="TINYINT" javaType="java.lang.Short"/>-->
<!--<result column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>-->
<!--<result column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>-->